.loading {
  --animation-duration: 10s;
  animation: loading var(--animation-duration) linear;
  /* transition: width 1s linear; */
}

@keyframes loading {
  from {
    width: 0%;
  }

  to {
    width: 100%;
  }
}
